@using MBlog.Models.Blog
@model CreateBlogViewModel
<section id="blog-form">
    <div id="blog-form-header">
        @ViewBag.Title
    </div>
    <div id="blog-form-body">
        @using (Html.BeginForm((string)ViewBag.Action, "Blog", FormMethod.Post, new { }))
        {
            <div class="row">
                <span class="label"> Title:</span> <span class="formw">@Html.TextBoxFor(m => m.Title, new{@class="maxwidth"})</span>
            </div>
            <div class="row">
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            <div class="row">
                <span class="label">Description:</span> <span class="formw">@Html.TextBoxFor(m => m.Description, new { @class = "maxwidth" })</span>
            </div>
            <div class="row">
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            if (Model.IsCreate)
            {
            <div class="row">
                <span class="label">Nickname:</span> <span class="formw">@Html.TextBoxFor(m => m.Nickname, new { @class = "maxwidth" })</span>
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Nickname)
            </div>
            }
            <div class="row">
                <span  class="label" >Enable Comments:</span> <span class="formw">@Html.CheckBoxFor(m => m.CommentsEnabled)</span>
            </div>
            <div class="row">
                <span  class="label">Approve Comments:</span> <span class="formw">@Html.CheckBoxFor(m => m.ApproveComments)</span>
            </div>
            <div class="row">
                @if (Model.IsCreate)
                {
                    <input type="submit" value="New Blog" />
                }
                else
                {
                    <input type="submit" value="Edit Blog" />                
                }
            </div>
        }
    </div>
</section>
