@using MBlog.Models.User
@using MBlog.Resources.General
@using MBlog.Resources.User
@model UserViewModel
@{
    ViewBag.Title = Html.Encode(Register.Title);
}
<div style="margin-top: 30px">
    @using (Html.BeginForm("Create", "user", FormMethod.Post, new { @class = "form" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>@Html.Encode(Register.Title)</legend>
            <div class="row">
                <span class="label">
                    @Html.LabelFor(model => model.Name, Global.Name)
                </span>
                <span class="formw">@Html.EditorFor(model => model.Name)</span>
                <div>
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="row">
                <span class="label">
                    @Html.LabelFor(model => model.Email, Global.Email)
                </span>
                    <span class="formw">@Html.EditorFor(model => model.Email)</span>
                <div>
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="row">
                <span class="label">
                    @Html.LabelFor(model => model.Password, Global.Password)
                </span>
                    <span class="formw">@Html.PasswordFor(model => model.Password)</span>
                <div>
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div class="row">
                <span class="label">
                    @Html.LabelFor(model => model.RepeatPassword, Global.RepeatPassword)
                </span>
                    <span class="formw">@Html.PasswordFor(model => model.RepeatPassword)</span>
                <div>
                    @Html.ValidationMessageFor(model => model.RepeatPassword)
                </div>
            </div>
            <div class="row">
                    <span class="formw"><input type="submit" value="@Html.Encode(Register.Title)" id="submit" name="submit" /></span>
            </div>
        </fieldset>
    }
    <div>
        @Html.ActionLink("Back to List", "Index", "Home")
    </div>
</div>
