@model MBlog.Models.Comment.AddCommentViewModel
@using MBlog.Resources.Global
@using MBlog.Resources.Post
<div class="blog-comments">
    @foreach (var Comment in Model.Comments)
    {            
        <div class="blog-comment">
            <div class="blog-comment-header">
                <span>@Comment.Commented.ToLongDateString()</span> @Html.Encode(Global.By) <span>@Comment.Name</span>
            </div>
            <div class="blog-comment-body">
                @Html.Raw(Comment.Comment)
            </div>
        </div>
    }
</div>
@if (Model.CommentsEnabled)
{ 
    <div id="blog-comment-form">
        <div id="blog-comment-form-header">
            @Html.Encode(Show.LeaveAComment):
        </div>
        <div class="comment-help">
            @Html.Encode(Show.BBCode)
        </div>
        <div id="blog-comment-form-body">
            @using (Html.BeginForm("Create", "comment", FormMethod.Post, new { }))
            {
                @Html.HiddenFor(m => m.PostId)
                <div>
                    @Html.Encode(Global.Name):
                </div>
                <div>
                    @Html.TextBoxFor(m => m.Name, new { @class="maxwidth" })
                </div>
                <div>
                    @Html.Encode(Global.Comment):
                </div>
                <div>
                    <div>
                        @Html.TextAreaFor(m => m.Comment, new { cols = "25", rows = "5", @class="maxwidth" })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(m => m.Comment)
                    </div>
                </div>
                <div>
                    <input type="submit" value=@Html.Encode(Show.PostComment) />
                </div>
            }
        </div>
    </div>
}
