@using MBlog.Models.Media
@model IEnumerable<MBlog.Models.Media.ShowMediaViewModel>
@{
    ViewBag.Title = "List Media";
    Layout = "~/Views/Media/_MediaLayout.cshtml";
}
<h2>List Media</h2>
<section class="list-items">
    <table class="listmedia">
        <tr>
            <th class="listmedia-checkbox first">
                @Html.CheckBox("fileall")
            </th>
            <th class="listmedia-item"></th>
            <th class="listmedia-details">File </th>
            <th class="listmedia-author">Author </th>
            <th class="listmedia-date last">Date </th>
        </tr>
        @foreach (ShowMediaViewModel media in Model)
        {
            <tr>
                <td class="listmedia-checkbox">
                    @Html.CheckBox("file" + media.Id)
                </td>
                <td class="listmedia-item">
                    @if (media.ContentType.StartsWith("image"))
                    {
                        <a href="@Url.Action("show", new { media.Year, media.Month, media.Day, media.LinkKey })">
                            <img src="@Url.Action("show", new { media.Year, media.Month, media.Day, media.LinkKey })" alt="@media.Alternate" class="media-80x60" height="53" width="80"/>
                        </a>
                    }
                </td>
                <td class="listmedia-details">
                    @Html.ActionLink(media.Title, "show", new { media.Year, media.Month, media.Day, media.LinkKey })
                    <p>@media.Extension</p>
                    <div class="row-actions">
                        <span class="edit">@Html.ActionLink("Edit", "Edit", new { MediaId = media.Id }) | </span>
                        <span class="delete">@Html.ActionLink("Delete", "Delete", new { MediaId = media.Id }) | </span>
                        <span class="view">@Html.ActionLink("View", "show", new { media.Year, media.Month, media.Day, media.LinkKey })</span>
                    </div>
                </td>
                <td class="listmedia-author">
                    @media.Author
                </td>
                <td class="listmedia-date">
                    @media.DisplayDate
                </td>
            </tr>
        }
    </table>
</section>
