@using MBlog.Resources.Blog
@model MBlog.Models.Blog.CreateBlogViewModel
<section id="blog-form">
    <div id="blog-form-header">
        @ViewBag.Title
    </div>
    <div id="blog-form-body">
        @using (Html.BeginForm((string) ViewBag.Action, "Blog", new {nickame = @Model.Nickname}, FormMethod.Post, new {}))
        {
            <div class="row">
                <span class="label"> @Edit.Title:</span> 
                <span class="formw">@Html.TextBoxFor(m => m.Title, new {@class = "maxwidth"})</span>
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            <div class="row">
                <span class="label">@Edit.Description:</span> <span class="formw">@Html.TextBoxFor(m => m.Description, new {@class = "maxwidth"})</span>
            </div>
            <div class="row">
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            if (Model.IsCreate)
            {
                <div class="row">
                    <span class="label">@Edit.Nickname:</span> <span class="formw">@Html.TextBoxFor(m => m.Nickname, new {@class = "maxwidth"})</span>
                </div>
                <div>
                    @Html.ValidationMessageFor(m => m.Nickname)
                </div>
            }
            <div class="row">
                <span  class="label" >@Edit.EnableComments:</span> <span class="formw">@Html.CheckBoxFor(m => m.CommentsEnabled)</span>
            </div>
            <div class="row">
                <span  class="label">@Edit.EnableComments:</span> <span class="formw">@Html.CheckBoxFor(m => m.ApproveComments)</span>
            </div>
            <div class="row">
                @if (Model.IsCreate)
                {
                    <span class="formw"><input type="submit" value=@Edit.NewBlog /></span>
                }
                else
                {
                    <span class="formw"><input type="submit" value=@Edit.EditBlog /></span>
                }
            </div>
        }
    </div>
</section>