@using MBlog.Models.Admin
@using MBlog.Resources.General
@using MBlog.Resources.Admin
@model AdminUserViewModel

@{
    ViewBag.Title = Index.Dashboard;
    Layout = "~/Views/Dashboard/_DashboardLayout.cshtml";
}
<section class="admin-dashboard">
    <section class="admin-main">
        <section class="admin-title">
            <h2>
                Dashboard</h2>
        </section>
        <section id="admin-user">
            <div class="admin-user-header">
                <h4>@Model.Name</h4>
            </div>
            <section class="admin-user-links">
                Profile
                <div class="admin-blog-actions">
                    @if (Model.Blogs.Count > 0)
                    {
                        <span class="admin-link">@Html.ActionLink(Index.NewMedia, "new", "Media", new {nickname = Model.Nickname}, null)</span>
                        <span class="admin-link">@Html.ActionLink(Index.ListMedia, "index", "Media", new {nickname = Model.Nickname}, null)</span>
                    }
                </div>
            </section>
        </section>
        <section id="admin-user-manage">
            <div class="admin-user-header">
                <h4>
                    <span id="admin-manageblogs-title">@Index.ManageBlogs (@Model.Blogs.Count
                        Total)</span>
                    <span class="admin-link admin-header-links">@Html.ActionLink(Html.Encode(Index.CreateBlog), "new", "Blog", null, null)</span>
                </h4>
            </div>
            <section class="admin-blog-list">
                @foreach (AdminBlogViewModel blog in Model.Blogs)
                {
                    <section class="admin-manage">
                        <div class="admin-blog-name">
                            <span>@blog.Title</span>
                        </div>
                        <div class="admin-blog-details">
                            @if(@blog.NumberOfPosts > 0)
                            {
                                <span>
                                    @blog.NumberOfPosts @Index.Posts, @Index.LastPublishedOn @blog.LastUpdated.ToShortDateString() - @Html.ActionLink(Html.Encode(Index.ViewBlog), "index", "Post", new {nickname = blog.Nickname}, null) </span>
                            }else
                            {
                                <span>
                                    @Index.NoPosts - @Html.ActionLink(Html.Encode(Index.ViewBlog), "index", "Post", new {nickname = blog.Nickname}, null) </span>
                                
                            }
                        </div>
                        <div class="admin-blog-actions">
                            <span class="admin-link">@Html.ActionLink(Global.NewPost, "new", "Post", new {nickname = blog.Nickname}, null)</span>
                            <span class="admin-link">@Html.ActionLink(Global.EditPosts, "index", "Posts", new {nickname = blog.Nickname}, null)</span>
                            <span class="admin-link">@Html.ActionLink(Global.Comments, "index", "Comments", new {nickname = blog.Nickname}, null)</span>
                            <span class="admin-link">@Html.ActionLink(Index.Settings, "Edit", "Blog", new {nickname = blog.Nickname}, null)</span>
                        </div>
                    </section>
                }
            </section>
        </section>
        <div style="clear: both">
        </div>
    </section>
</section>