@using MBlog.Models.Home
@using MBlog.Models.User
@using MBlog.Resources.Home
@model MBlog.Models.Home.HomePageViewModel
@{
    ViewBag.Title = Index.HomePage;
}
<section class="home-page">
    <section class="home-page-header">
        <h2 class="home-page-sub-title">@Index.BlogsOnThisSite</h2>
        <ul class="home-page-list">
            @foreach (UserBlogViewModel userBlogViewModel in Model.UserBlogViewModels)
            {
                <li>
                    @Html.ActionLink(userBlogViewModel.Title, "Index", new {nickname = userBlogViewModel.Nickname, Controller = "Post"})
                    @Index.WrittenBy
                    @userBlogViewModel.Name
                </li>
            }
        </ul>
    </section>
    <section class="home-page-content">
        <h2 class="home-page-sub-title">@Index.LatestPosts</h2>
        <ul class="blog-list">
            @foreach (HomePagePostViewModel blogViewModel in Model.HomePagePostViewModels)
            {
                <li class="blog-post">
                    <div class="blog-header-section">
                        <h1 class="blog-title">@blogViewModel.Title</h1>
                        <div class="blog-date-posted">
                            <div>@blogViewModel.DatePosted.ToLongDateString()</div><div>@blogViewModel.UserName</div>
                        </div>
                    </div>
                    <div class="blog-entry">@MvcHtmlString.Create(blogViewModel.Post)</div>
                </li>
            }
        </ul>
    </section>
</section>