@using MBlog.Resources.Image
@model MBlog.Models.Image.NewImageViewModel
@{
    ViewBag.Title = "Upload File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="blog-post-form">
    <div id="blog-post-form-header">
        @ViewBag.Title
    </div>
    <div id="blog-post-form-body">
        @using (Html.BeginForm("Create", "image", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.Nickname)
            @Html.HiddenFor(m => m.BlogId)
            <!-- todo: dropdown-->
            @Html.TextBoxFor(m => m.Size)
            @Html.Hidden("imageId", "someId")

            <input type="file" name="file" id="file" />
            <br/>
            <input type="submit" value="@Html.Encode(New.NewImage)" />
        }
    </div>
</section>
