@using Rejuicer
<!DOCTYPE html>
<html class="no-js">
<head>
    <title>@ViewBag.Title</title>
    @Rejuiced.CssFor("~/Combined-{0}.css")
    @Rejuiced.JsFor("~/Combined-{0}.js")
    <link href='http://fonts.googleapis.com/css?family=Ropa+Sans|Asap|Quicksand' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Content/main.less")" rel="stylesheet" type="text/css" />   
    <link href="@Url.Content("~/Content/media.less")" rel="stylesheet" type="text/css" />   
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">    
    <script type="text/javascript">
        SyntaxHighlighter.defaults['toolbar'] = true;
        SyntaxHighlighter.all();
    </script>
    @RenderSection("PubHeaders", false)
    @RenderSection("DashboardHeaders", false)
</head>
<body>
    <div class="wrapper">
        <div class="mainbody">
            <header>
                <nav>
                    <ul class="headerList main-list">
                        @if (HttpContext.Current.User == null || !HttpContext.Current.User.Identity.IsAuthenticated)
                        {                    
                            <li>@Html.ActionLink("register", "New", "user", null, null)</li>
                            <li>@Html.ActionLink("login", "New", "Session", null, null)</li>
                        }
                        else
                        { 
                            <li>@Html.ActionLink("dashboard", "Index", "Dashboard", null, null)</li>
                            <li>@Html.ActionLink("logout", "Delete", "session", null, null)</li>
                        }
                        <li><a href="#">about</a></li>
                        <li><a href="#">faq</a></li>
                    </ul>
                </nav>
            </header>
            <div class="blog-main-body">
                @RenderBody()
            </div>
            <div class="blog-sidebar">
                @Html.Encode("Sidebar")
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
</body>
</html>
