@using MBlog.Models.Post
@model PostsViewModel
@{
    ViewBag.Title = "ListPosts";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<section class="list-posts">
    <table>
        @foreach (var postViewModel in Model.Posts)
        {
            <tr>
                <td>
                    @Html.ActionLink("View", "Show", "Post", new { nickname = Model.Nickname, link = postViewModel.Link, year = postViewModel.YearPosted, month = postViewModel.MonthPosted, day = postViewModel.DayPosted }, null)
                </td>
                <td>
                    @Html.ActionLink("Edit", "edit", "Post", new { nickname = Model.Nickname, postId = postViewModel.Id, blogId = Model.BlogId }, null)
                </td>
                <td class="post-title">
                    @MvcHtmlString.Create(postViewModel.Title) 
                    @if (postViewModel.CommentCount != 0)
                    {
                        <span class="list-posts-comment-count"><a href="#">(@postViewModel.CommentCount Comments)</a> </span>
                    }
                </td>
                <td>
                    @postViewModel.DatePosted.ToString("dd/MM/yyyy")
                </td>
                <td>
                    name
                </td>
                <td>
                    @Html.ActionLink("Delete", "delete", "Post", new { nickname = Model.Nickname, postId = postViewModel.Id, blogId = Model.BlogId }, null)
                </td>
            </tr>
        }
    </table>
</section>